@import url('https://fonts.cdnfonts.com/css/brushelva');

@media screen and (min-width:320px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
body{
    background-image: repeating-linear-gradient(45deg, rgba(193, 249, 252,0.12) 0px, rgba(193, 249, 252,0.12) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(193, 249, 252,0.12) 0px, rgba(193, 249, 252,0.12) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(215, 32, 135),rgb(223, 206, 104));
} 
.container{
    width: 100%;
    height: 800px;
    background-image: url(./img/nubelson-fernandes-btH9rn2mltU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    position: relative;
}
.container_nav{
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
}
.nav_logo{
    display: inline;
    font-size: 1rem;
    color:  rgba(25, 32, 32, 0.884);;
    margin-left: 10px;
    
}
.nav_menu{
    border: 1px solid black;
    width: 180px;
    position: absolute;
    top: 48px;
    right: 0px;
    display: none;
}
.nav_items{
   font-size: 1 rem;
   text-align: center;
   color: black;
   background-color: rgba(193, 249, 252, 0.082);
   display: block;
   padding: 10px;
}
.checkbox , .icons{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 12px;
}
.icons{
    pointer-events: none;
    font-size: 24px;
}
.checkbox{
    opacity:0;
}
.nav_items:hover{
    background-color: rgba(128, 128, 128, 0.63);
}
.checkbox:checked ~ .nav_menu{
    display: block;
}
 .container_title{
    width: 60%;
    max-width: 60%;
    height: 15%;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 80%;
    margin-left: 20%;
}
h1{
    font-family: 'Brushelva', sans-serif;
    font-size: 1.5em;
    display: flex;
    color: rgb(224, 7, 130);
}
p{
    font-size:1em;
    display: flex;
}
.section1{
   max-width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   display: flex;
} 
.box_title{
    font-family: 'Brushelva', sans-serif;
    font-size: 1,5rem;
    text-align: center;
    padding: 1em;
    flex-wrap: wrap;
}
.box_paragraph{
    font-family: 'Brushelva', sans-serif;
    font-size: 1em;
    text-align: center;
    text-align: justify;
    margin: 2em;
    flex-wrap: wrap;
}
.box_img{
    width: 200px;
    border-radius: 20%;
    margin: 30px 30px;
    box-shadow: 20px 20px 50px black;
}
.section2{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2, .section2_title{
    font-family:'Brushelva', sans-serif; 
    font-size: 1,5 rem;
    text-align: center;
}
.section2_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
 img,  .img_1{
    width: 100%;
    margin-left: 10px;

}
img, .img_2{
    width: 80%;
    margin-left: 30px;
 
}
img, .img_3{
  width: 50%;
  margin-left: 80px;
  margin-bottom: 50px;
}
.section3{
    max-width: 90%;
}

.section3_title{
    font-family:'Brushelva', sans-serif; 
    font-size: 2 rem;
    text-align: center;
    padding: 20px;
}
.section3_proyects{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proy_img{
    width: 60%;
    margin: 20px 20px;
}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid rgb(87, 83, 83);
}
 h4, .form_title{
    font-family:'Brushelva', sans-serif; 
    font-size: 30px;
    padding: 15px;
}
.form_group{
    max-width: 90%;
    font-family:'Brushelva', sans-serif;  
    font-size: 15px;
    justify-content:center;
    align-items: center;
    align-content: space-around;
    padding: 5px;
    margin: 5px 10px;
}
.form_group, button{
    width:90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:12px;
    justify-content: center;
    margin: 0 auto;
}
button{
    background-color: palevioletred;
}
input{
    width: 90%;
    height: 20px;
}
form, label{
   margin: 5px 5px;
}
.checkbox{
    display:inline-block
}
textarea{
    width: 90%;
}

h6{
    font-size: 1rem;
    padding: 20px ;
}
.footer{
    width: 100%;
    
    background-color:rgb(223, 206, 104);
    display: flex;
    flex-direction: column;

}

.footer_icons, .fa-solid{
    font-size: 30px;
    margin: 20px;
    padding: 10px
}
.fa-brands{
    font-size: 20px;
    margin: 10px;

}

.fa-facebook{
    color: rgb(59, 59, 255);
}
.fa-instagram{
    color:rgb(224, 7, 130);
}
.fa-youtube{
    color: red;
}
.footer_contacto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;

}
span{
    font-size: 10px
}
.footer_contacto, .fa-brands{
    font-size: 30px;
    padding:10px;

}
}


